
    <!-- begin:js -->
    <!-- JS Core -->

    <script type="text/javascript" src="assets-minified/js-core.js"></script>



    <script type="text/javascript">
        $(window).load(function(){
            setTimeout(function() {
                $('#loading').fadeOut( 400, "linear" );
            }, 300);
        });
    </script>
    <!-- WIDGETS -->



    <!-- WIDGETS -->

    <!-- Bootstrap Dropdown -->

    <link rel="stylesheet" type="text/css" href="assets-minified/widgets/dropdown/dropdown.css">
    <script type="text/javascript" src="assets-minified/widgets/dropdown/dropdown.js"></script>

    

    <!-- Bootstrap Tooltip -->

    <link rel="stylesheet" type="text/css" href="assets-minified/widgets/tooltip/tooltip.css">
    <script type="text/javascript" src="assets-minified/widgets/tooltip/tooltip.js"></script>

    <!-- Bootstrap Popover -->

    <link rel="stylesheet" type="text/css" href="assets-minified/widgets/popover/popover.css">
    <script type="text/javascript" src="assets-minified/widgets/popover/popover.js"></script>


    <!-- Bootstrap Buttons -->

    <script type="text/javascript" src="assets-minified/widgets/button/button.js"></script>

    <!-- Bootstrap Collapse -->

    <script type="text/javascript" src="assets-minified/widgets/collapse/collapse.js"></script>

    <!-- Bootstrap Progress Bar -->

    <link rel="stylesheet" type="text/css" href="assets-minified/widgets/progressbar/progressbar.css">
    <script type="text/javascript" src="assets-minified/widgets/progressbar/progressbar.js"></script>

    <!-- Uniform -->

    <link rel="stylesheet" type="text/css" href="assets-minified/widgets/uniform/uniform.css">
    <script type="text/javascript" src="assets-minified/widgets/uniform/uniform.js"></script>

    <!-- Chosen -->

    <link rel="stylesheet" type="text/css" href="assets-minified/widgets/chosen/chosen.css">
    <script type="text/javascript" src="assets-minified/widgets/chosen/chosen.js"></script>

    <!-- Superfish -->

    <script type="text/javascript" src="assets-minified/widgets/superfish/superfish.js"></script>

    <!-- Superclick -->

    <script type="text/javascript" src="assets-minified/widgets/superclick/superclick.js"></script>

    <!-- Nice scroll -->
    
    <script type="text/javascript" src="assets-minified/widgets/nicescroll/nicescroll.js"></script>

    <!-- Overlay -->

    <script type="text/javascript" src="assets-minified/widgets/overlay/overlay.js"></script>

    <!-- jQueryUI Autocomplete -->

    <script type="text/javascript" src="assets-minified/widgets/autocomplete/autocomplete.js"></script>
    <script type="text/javascript" src="assets-minified/widgets/autocomplete/menu.js"></script>

    <!-- Skycons -->

    <script type="text/javascript" src="assets-minified/widgets/skycons/skycons.js"></script>

    <!-- Content box -->

    <script type="text/javascript" src="assets-minified/widgets/content-box/contentbox.js"></script>

    <!-- Bootstrap Tabs -->

    <script type="text/javascript" src="assets-minified/widgets/tabs/tabs.js"></script>

    <!-- Sparklines charts -->

    <script type="text/javascript" src="assets-minified/widgets/charts/sparklines/sparklines.js"></script>
    <script type="text/javascript" src="assets-minified/widgets/charts/sparklines/sparklines-demo.js"></script>
    <!-- PieGage charts -->

    <link rel="stylesheet" type="text/css" href="assets-minified/widgets/charts/piegage/piegage.css">
    <script type="text/javascript" src="assets-minified/widgets/charts/piegage/piegage.js"></script>
    <script type="text/javascript" src="assets-minified/widgets/charts/piegage/piegage-demo.js"></script>
    
    <!-- Slidebars -->

    <link rel="stylesheet" type="text/css" href="assets-minified/widgets/slidebars/slidebars.css">
    <script type="text/javascript" src="assets-minified/widgets/slidebars/slidebars.js"></script>

    <!-- Widgets init for demo -->

    <script type="text/javascript" src="assets-minified/widgets-init.js"></script>

    <!-- Theme layout -->

    <script type="text/javascript" src="assets-minified/themes/supina/js/layout.js"></script>
    <!-- end:js -->
    
